.digit-container {
  font-size: 14px;
  width: 1.5em;
  height: 2em;
  overflow: hidden;
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  height: inherit;
  width: inherit;
  background-image: linear-gradient(to bottom, gray, transparent, gray);
}

.digit {
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
  width: inherit;
  height: inherit;
  background-color: white;
  color: black;
}

.slider {
  position: relative;
  top: -100%;
  width: inherit;
  height: inherit;
}
